<p id="notice"><%= notice %></p>

<h1>Listing Twizzles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twizzles.each do |twizzle| %>
      <tr>
        <td><%= twizzle.user %></td>
        <td><%= twizzle.content %></td>
        <td><%= link_to 'Show', twizzle %></td>
        <td><%= link_to 'Edit', edit_twizzle_path(twizzle) %></td>
        <td><%= link_to 'Destroy', twizzle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twizzle', new_twizzle_path %>
